header{background-color: #333;}

.container{margin: 0 auto;
max-width: 1040px;width: 100% ;}


header .container{display: flex;justify-content: space-around}

header .container nav{display: flex;
justify-content: space-between;}

header .container nav a{color: #fafafa;
text-decoration: none;font-size: 1.2em;
padding:0 15px;align-self: center;}

main .container{background: url(../css/img/bg-intro.jpg);}

.meio{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.texto{word-wrap: normal;}
img{vertical-align: middle;}
p{display: inline-block;}
h1{display: inline-block;}